<!-- 인터폴레이션(interpolation) -->
<h1>Hello {{ name }}</h1>
<hr />
<!-- 속성 바인딩(Property Binding) -->
<img [src]="userImage" alt="User Image" /><br />
<hr />

<!-- 이벤트 바인딩(Event Binding) -->
<button (click)="sayHello()">Say Hello</button>
<p>{{ message }}</p>
<hr />

<!-- 양방향 바인딩(Two-way Binding) -->
<input type="text" [(ngModel)]="username" placeholder="Enter your name" />
<p>Welcome, {{ username }}</p>

<hr />
<!-- 구조 지시자 -->
<!-- *ngIf: 조건부 렌더링 -->
<p *ngIf="isLoggedIn">You are Logged in!</p>
<p *ngIf="!isLoggedIn">Please Log In</p>

<hr />
<!-- *ngFor: 반복 렌더링 -->
<ul>
  <li *ngFor="let user of users; let i = index">
    {{ i + 1 }}. {{ user.name }}
  </li>
</ul>

<hr />
<!-- 속성지시자(ngClass, ngStyle) -->
<p [ngClass]="{ active: isActive, disabled: 'isDisabled' }">Status</p>
<p [ngStyle]="{ color: isActive ? 'green' : 'red' }">Dynamic Color</p>
